<app-navbar></app-navbar>

<div class="body">
    <div class="container contact mt-5">
        <h2 class="text-center mb-4">Leave US a Note</h2>
        <div class="card">
            <div class="card-body">
                <form action="">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Name*</label>
                        <input type="text" class="form-control shadow-none" id="inputName" placeholder="John Doe">
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email*</label>
                        <input type="email" class="form-control shadow-none" id="inputEmail" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Website</label>
                        <input type="text" class="form-control shadow-none" id="inputName" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputMessage" class="form-label">Message</label>
                        <textarea class="form-control shadow-none" id="inputMessage" rows="3"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>