<app-navbar></app-navbar>

<div class="container-fliud ps-0 pe-0">
    <div class="headerimagecontainer">
        <div class="headercontent">
            <h1>do what you <img src="//s3-us-west-2.amazonaws.com/ec-cdn-content/ec-image-resources/1345984533_love_360.png" alt="Love" class="img-responsive"> everyday</h1>
            <p>Want to join the Kaigan Games team? If you have a passion to get into game development & want to work for a rapidly growing game company, check out the listings below or send your resume to <span>info@kaigangames.com</span>.</p>
            <a href="#joblistings">view job openings</a>
        </div>
    </div>
    <div class="container benefit mb-5">
        <p class="title">
            BENEFITS IF YOU JOIN KAIGAN GAMES
        </p>
        <div class="wrapper">
            <div class="row">
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faBed"></fa-icon>
                        </span>
                        <p class="h4 pt-4">Outpatient Claim</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faPersonPregnant"></fa-icon>
                        </span>
                        <p class="h4 pt-4">Maternal Check-Ups Claim</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faSuitcaseMedical"></fa-icon>
                        </span>
                        <p class="h4 pt-4">Health Insurance</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faGlasses"></fa-icon>
                        </span>
                        <p class="h4 pt-4">Optical Claim</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faHandHoldingCirlce"></fa-icon>
                        </span>
                        <p class="h4 pt-4">Marriage Claim</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faHandsHoldingChild"></fa-icon>
                        </span>
                        <p class="h4 pt-4">Maternity and Paternity Claim</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faSkullCrossbones"></fa-icon>
                        </span>
                        <p class="h4 pt-4 text-center">Bereavement Compensation Token</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="card pb-4">
                        <span class="fab fa-envira mt-3">
                            <fa-icon [icon]="faUtensils"></fa-icon>
                        </span>
                        <p class="h4 pt-4">Meal Allowance</p>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container slider mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000" class="d-block w-100" alt="https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000">
              </div>
              <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000" class="d-block w-100" alt="https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000">
              </div>
              <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000" class="d-block w-100" alt="https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?w=2000">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container open-position mb-5">
        <p class="title">
            OPEN POSITION(S)
        </p>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Position</th>
                <th scope="col">Location</th>
                <th scope="col">Published Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>