<app-navbar></app-navbar>

<div class="container press">
    <div class="row mt-5 mb-5">
        <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-5 col-12">
            <h2 class="font-weight-bold mb-5">FACTS</h2>
            <div class="fact-data">
                <div class="developer">
                    <h4 class="title">Developer</h4>
                    <p>Kaigan Games Entertainment Sdn. Bhd.</p>
                    <p>Kuala Lumpur, Malaysia</p>
                </div>
                <div class="founded-by mt-4">
                    <h4 class="title">Founded By</h4>
                    <p>Shahrizar Roslan</p>
                    <p>Shahazmi Roslan</p>
                    <p>Jeremy Ooi</p>
                </div>
                <div class="founding-date mt-4">
                    <h4 class="title">Founding Date</h4>
                    <p>January 15, 2017</p>
                </div>
                <div class="studio mt-4">
                    <h4 class="title">Studio Size</h4>
                    <p>10-15</p>
                </div>
                <div class="address mt-4">
                    <h4 class="title">Address</h4>
                    <p>Unit 7-06, Level 7, Menara MBMR
                        No. 1, Jalan Syed Putra 58000 Kuala Lumpur, Malaysia</p>
                    <div class="maps mt-2">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe class="w-100" id="gmap_canvas" src="https://maps.google.com/maps?q=Menara%20MBMR%20No.%201,%20Jalan%20Syed%20Putra%2058000%20Kuala%20Lumpur,%20Malaysia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                <a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;}</style>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="website mt-4">
                    <h4 class="title">Website</h4>
                    <p><a href="https://kaigangames.com/" target="__blank">kaigangames.com</a></p>
                    <p><a href="https://www.playsimulacra.com/" target="__blank">playsimulacra.com</a></p>
                </div>
                <div class="press-contact mt-4">
                    <h4 class="title">Press / Business Contact</h4>
                    <p><a href="mailto:info@kaigangames.com">info@kaigangames.com</a></p>
                </div>
                <div class="releases mt-4">
                    <h4 class="title">Releases</h4>
                    <p>
                        <a href="https://www.playsimulacra.com/simulacra" target="__blank">Simulacra</a>
                    </p>
                    <p>
                        <a href="https://www.playsimulacra.com/simulacra-pipedreams" target="__blank">Simulacra: Pipe Dreams</a>
                    </p>
                    <p>
                        <a href="https://www.playsimulacra.com/simulacra-2" target="__blank">Simulacra 2</a>
                    </p>
                    <p>
                        <a href="https://www.playsimulacra.com/simulacra-3" target="__blank">Simulacra 3</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-xl-8 col-lg-8 col-md-8 col-sm-7 col-12 desc">
            <h2 class="font-weight-bold mb-5">DESCRIPTION</h2>
            <p class="mb-3">
                We make eye opening games.
            </p>
            <p class="mb-3">
                Kaigan Games is one of the leading indie game developers in South East Asia. Over the past 6 years, our games like Sara is Missing and SIMULACRA, has garnered over 7 international awards, millions of downloads with and a growing Discord fanbase with more than 10,000 members. Besides making our own games, our specialization in the “found phone” genre has led us to work with clients around the world such as UNHCR, Samsung and the BBC.
            </p>
            <p class="mb-3">
                The secret to our success lies with the strength of our employees, therefore their goals and wellbeing remains our priority. We strive to create a promising environment for growth, enhancement while maintaining a healthy work-life balance. 
            </p>
            <p>
                If you’re looking for a rewarding career path in the games industry, we can assure you that this is it. Join us to experience a rewarding career path!
            </p>
            <hr>
            <section class="press-logo">
                <h2 class="font-weight-bold mt-5 mb-3">OUR LOGO</h2>
                <div class="row">
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-6">
                        <img src="assets/logo/Kaigan Games Logo.png" alt="Kaigan Games Current Logo" class="w-100">
                    </div>
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-6">
                        <img src="assets/logo/Kaigan-logo-RGB-2.png" alt="Kaigan Games Logo 2" class="w-100">
                    </div>
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-6">
                        <img src="assets/logo/KaiganBW-white.png" alt="Kaigan Games Logo 3" class="w-100">
                    </div>
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-6">
                        <img src="assets/logo/KaiganBW-black.png" alt="Kaigan Games Logo 4" class="w-100">
                    </div>
                </div>
            </section>
            <hr>
            <section class="press-games">
                <h2 class="font-weight-bold mt-5 mb-3">GAMES</h2>
                <div class="row">
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                        <a href="https://www.playsimulacra.com/simulacra" target="__blank">
                            <img src="assets/games/1597982653_SIM1_265x350.jpg" alt="SIMULACRA" class="w-100">
                        </a>
                    </div>
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                        <a href="https://www.playsimulacra.com/simulacra-pipedreams" target="__blank">
                            <img src="assets/games/1597983077_sim_pipe_dreams.jpg" alt="SIMULACRA" class="w-100">
                        </a>
                    </div>
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                        <a href="https://www.playsimulacra.com/simulacra-2" target="__blank">
                            <img src="assets/games/1597983314_SIM2_265x350.jpg" alt="SIMULACRA" class="w-100">
                        </a>
                    </div>
                    <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                        <a href="https://www.playsimulacra.com/simulacra-3" target="__blank">
                            <img src="assets/games/sim3.jpg" alt="SIMULACRA" class="w-100">
                        </a>
                    </div>
                </div>
            </section>
            <hr>
            <section class="featured-project">
                <h2 class="font-weight-bold mt-5 mb-3">FEATURED PROJECTS</h2>
                <div class="d-none d-xl-block d-lg-block">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 pr-0">
                            <ul class="list-group">
                                <li class="list-group-item pl-0">
                                    <a href="https://drive.google.com/drive/u/1/folders/12fkvUhEHS98po4fz3969qzADC1cSQ8w3" target="__blank">
                                        <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                    </a>
                                </li>
                                <li class="list-group-item pl-0">
                                    <a href="https://drive.google.com/drive/u/1/folders/1Lda9B21llxQTMi9xeq9kJUIXOoObG4z7" target="__blank">
                                        <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                    </a>
                                </li>
                                <li class="list-group-item pl-0">
                                    <a href="https://drive.google.com/drive/folders/0B3_28noN6fOsS0tMZk9McFpVc2s?resourcekey=0-s0GiKwPYUblWophM5aC9zA" target="__blank">
                                        <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                    </a>
                                </li>
                              </ul>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 pl-0">
                            <ul class="list-group">
                                <li class="list-group-item game-text">SIMULACRA 3</li>
                                <li class="list-group-item game-text">SIMULACRA 2</li>
                                <li class="list-group-item game-text">SIMULACRA</li>
                              </ul>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block d-lg-none">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12 pr-0">
                            <ul class="list-group">
                                <li class="list-group-item pl-0">
                                    <a href="https://drive.google.com/drive/u/1/folders/12fkvUhEHS98po4fz3969qzADC1cSQ8w3" target="__blank">
                                        <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                    </a>
                                </li>
                                <li class="list-group-item pl-0">
                                    <a href="https://drive.google.com/drive/u/1/folders/1Lda9B21llxQTMi9xeq9kJUIXOoObG4z7" target="__blank">
                                        <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                    </a>
                                </li>
                                <li class="list-group-item pl-0">
                                    <a href="https://drive.google.com/drive/folders/0B3_28noN6fOsS0tMZk9McFpVc2s?resourcekey=0-s0GiKwPYUblWophM5aC9zA" target="__blank">
                                        <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 col-12 pl-0">
                            <ul class="list-group">
                                <li class="list-group-item game-text">SIMULACRA 3</li>
                                <li class="list-group-item game-text">SIMULACRA 2</li>
                                {{-- <li class="list-group-item game-text">SIMULACRA: PIPE DREAMS</li> --}}
                                <li class="list-group-item game-text">SIMULACRA</li>
                                {{-- <li class="list-group-item game-text">SARA IS MISSING</li> --}}
                              </ul>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block d-md-none">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item pl-0">
                                <a href="https://drive.google.com/drive/u/1/folders/12fkvUhEHS98po4fz3969qzADC1cSQ8w3" target="__blank">
                                    <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                </a>
                            </li>
                            <li class="list-group-item pl-0">
                                <a href="https://drive.google.com/drive/u/1/folders/1Lda9B21llxQTMi9xeq9kJUIXOoObG4z7" target="__blank">
                                    <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                </a>
                            </li>
                            {{-- <li class="list-group-item pl-0">
                                <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                            </li> --}}
                            <li class="list-group-item pl-0">
                                <a href="https://drive.google.com/drive/folders/0B3_28noN6fOsS0tMZk9McFpVc2s?resourcekey=0-s0GiKwPYUblWophM5aC9zA" target="__blank">
                                    <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                </a>
                            </li>
                            {{-- <li class="list-group-item pl-0">
                                <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                            </li> --}}
                        </ul>
                    </div>
                </div>
                <div class="d-block d-sm-none">
                    <div class="col-12">
                        <ul class="list-group">
                            <li class="list-group-item pl-0">
                                <a href="https://drive.google.com/drive/u/1/folders/12fkvUhEHS98po4fz3969qzADC1cSQ8w3" target="__blank">
                                    <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                </a>
                                <p style="text-align: center; font-weight: bold;" class="mt-2">SIMULACRA 3</p>
                            </li>
                            <li class="list-group-item pl-0">
                                <a href="https://drive.google.com/drive/u/1/folders/1Lda9B21llxQTMi9xeq9kJUIXOoObG4z7" target="__blank">
                                    <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                </a>
                                <p style="text-align: center; font-weight: bold;" class="mt-2">SIMULACRA 2</p>
                            </li>
                            {{-- <li class="list-group-item pl-0">
                                <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                <p style="text-align: center; font-weight: bold;" class="mt-2">SIMULACRA: PIPE DREAMS</p>
                            </li> --}}
                            <li class="list-group-item pl-0">
                                <a href="https://drive.google.com/drive/folders/0B3_28noN6fOsS0tMZk9McFpVc2s?resourcekey=0-s0GiKwPYUblWophM5aC9zA" target="__blank">
                                    <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                </a>
                                <p style="text-align: center; font-weight: bold;" class="mt-2">SIMULACRA</p>
                            </li>
                            {{-- <li class="list-group-item pl-0">
                                <button type="button" class="btn btn-outline-primary btn-block">PRESS KIT</button>
                                <p style="text-align: center; font-weight: bold;" class="mt-2">SARA IS MISSING</p>
                            </li> --}}
                        </ul>
                    </div>
                </div>
            </section>
            <hr>
            <section class="press_video">
                <h2 class="font-weight-bold mt-5 mb-3">VIDEOS</h2>
                <div class="row">
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12">
                        <iframe class="w-100" src="https://www.youtube.com/embed/p4iKN8FcGZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12">
                        <iframe class="w-100" src="https://www.youtube.com/embed/SkUWP_OgNNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12">
                        <iframe class="w-100" src="https://www.youtube.com/embed/x3ga7pYyWAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12 mt-4">
                        <iframe class="w-100" src="https://www.youtube.com/embed/NqHqMAcG--w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
            <hr>
            <h2 class="font-weight-bold mt-5 mb-3">AWARDS</h2>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/1.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/2.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/3.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/4.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/5.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/6.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/7.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/8.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/9.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/10.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/11.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/12.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/13.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/14.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/15.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/16.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/17.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/18.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/19.png" class="w-100">
                </div>
                <div class="col-lg-4 col-xl-3 col-md-4 col-sm-3 col-6">
                    <img src="assets/awards/20.png" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>