
<hr>
<footer class="col-lg-12 col-xl-12 mt-5 row">
    <div class="row d-flex justify-content-center">
        <div class="col col-xl-2 col-lg-2">
            <a href="https://apps.apple.com/us/developer/kaigan-games-o%C3%BC/id1252035453" target="__blank">
                <img loading="lazy" src="assets/buttons/app-store.png/" class="w-100" alt="Kaigan Games App Store">
            </a>
        </div>
        <div class="col col-xl-2 col-lg-2">
            <a href="https://play.google.com/store/apps/developer?id=Kaigan+Games+O%C3%9C&hl=en&pli=1" target="__blank">
                <img loading="lazy" src="assets/buttons/google-play.png/" class="w-100" alt="Kaigan Games Google Play">
            </a>
        </div>
        <div class="col col-xl-2 col-lg-2">
            <a href="https://store.steampowered.com/search/?developer=Kaigan%20Games%20O%C3%9C" target="__blank">
                <img loading="lazy" src="assets/buttons/steam.png/" class="w-100" alt="Kaigan Games Steam">
            </a>
        </div>
        <div class="col-lg-12 text p-0">
            <p class="mt-3 text-center">Copyright &copy; {{currentYear}} Kaigan Games. All rights reserved.</p>
        </div>
    </div>
</footer>