<!--navigation-->
<div class="nav-container">
    <div class="mobile-topbar-header">
        <div>
            <img src="assets/logo/Kaigan Games Logo Side.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Kaigan Dashboard</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <nav class="topbar-nav">
        <ul metis-menu id="menu">
            <li>
                <a routerLink="/admin/dashboard">
                    <div class="parent-icon">
                        <fa-icon [icon]="faHome"></fa-icon>
                    </div>
                    <div class="menu-title">Dashboard</div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                        <fa-icon [icon]="faSlider">"</fa-icon>"
                    </div>
                    <div class="menu-title">Header Slider</div>
                </a>
                <ul>
                    <li> 
                        <a routerLink="/admin/header/slider-carousel">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Slider Carousel
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                    </div>
                    <div class="menu-title">About</div>
                </a>
                <ul>
                    <li> 
                        <a routerLink="/admin/about/">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            About
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/about/slider-carousel">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            About Slider
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/about/team-image">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            About Team Image
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <fa-icon [icon]="faUserNinja"></fa-icon>
                    </div>
                    <div class="menu-title">Careers</div>
                </a>
                <ul>
                    <li> 
                        <a routerLink="/admin/careers/perks-and-benefit">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Benefit & Perks
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/careers/featured-job">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Featured Jobs
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/careers/group-open-position">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Group Open Position
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/careers/open-position">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Open Position
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/careers/life-at-kaigan">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Life at Kaigan Games
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <fa-icon [icon]="faRocket"></fa-icon>
                    </div>
                    <div class="menu-title">Job Application</div>
                </a>
                <ul>
                    <li> 
                        <a routerLink="/admin/job-vacancy/applicant-list">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Applicant List
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon icon-color-6"> 
                        <fa-icon [icon]="faGamepad"></fa-icon>
                    </div>
                    <div class="menu-title">Games</div>
                </a>
                <ul>
                    <li>  
                        <a routerLink="/admin/games/list">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Game Lists
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/games/video">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Game Videos
                        </a>
                    </li>
                    <li> 
                        <a routerLink="/admin/games/faq">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Game FAQ's
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <fa-icon [icon]="faSquarePhone"></fa-icon>
                    </div>
                    <div class="menu-title">Contact</div>
                </a>
                <ul>
                    <li> 
                        <a routerLink="/admin/contact-us">
                            <fa-icon [icon]="faArrowRight" class="me-3"></fa-icon>
                            Contact Us List
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!--end navigation-->